* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  height: 100dvh;
  background: linear-gradient(105deg, rgb(10, 74, 250), rgb(111, 149, 255));
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h5 {
  color: white;
  font-weight: bold;
}

.errorMessage {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  color: white;
  padding: 15px;
  background: rgb(255, 125, 99);
  border: 2px solid rgb(255, 71, 38);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

form {
  margin-top: 30px;
  width: 100%;
}

form > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form > ul > li {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form > ul > li > input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  outline: none;
  border: none;
  color: #272727;
  background: white;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button {
  width: 100%;
  height: 40px;
  color: rgb(45, 101, 255);
  font-weight: bold;
  padding: 10px;
  background: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

form > ul > li > label,
form > ul > li > p,
form > ul > li > p > a {
  color: white;
}
