<ion-content [fullscreen]="true">
  <main>
    <div class="effect"></div>
    <section>
      <div class="titleWrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-calendar-check-icon lucide-calendar-check">
          <path d="M8 2v4" />
          <path d="M16 2v4" />
          <rect width="18" height="18" x="3" y="4" rx="2" />
          <path d="M3 10h18" />
          <path d="m9 16 2 2 4-4" />
        </svg>
        <p class="title">Jadwalin</p>
      </div>
      <p>Masuk, dan akses semua fitur!</p>
      <p *ngIf="isValidCredential" class="errorMessage">Email atau password salah</p>
      <form (ngSubmit)="login()" action="">
        <ul role="list">
          <li>
            <input [(ngModel)]="email" name="email" type="text" placeholder="Masukkan email" autocomplete="off">
          </li>
          <li>
            <input [(ngModel)]="password" name="password" type="text" placeholder="Masukkan password"
              autocomplete="off">
          </li>
          <li>
            <button type="submit" [disabled]="!email || !password"
              [ngStyle]="{'background-color': (!email || !password) ? 'gray' : 'rgb(45, 101, 255)', 'cursor-pointer': (!email || !password) ? 'not-allowed' : 'pointer', 'color': (!email || !password) ? 'white' : 'white'}">Masuk</button>
          </li>
          <li>
            <p>Belum punya akun? <IonRouterLink routerLink="/daftar">Daftar</IonRouterLink>
            </p>
          </li>
        </ul>
      </form>
    </section>
  </main>
</ion-content>