* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100dvh;
  background: #272727;
  padding: 20px;
}

form {
  width: 100%;
}

h5 {
  font-weight: bold;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  font-size: 0.8rem;
}

li {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  outline: none;
}

.addButton {
  width: 100%;
  height: 100%;
  background: rgb(82, 82, 223);
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.tasksWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasksCard {
  background: #1b1b1b;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.actionButtonWrapper {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.edit {
  width: 35px;
  height: 35px;
  background: rgb(223, 214, 82);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.edit > svg {
  width: 20px;
  height: 20px;
}

.delete {
  width: 35px;
  height: 35px;
  background: tomato;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.delete > svg {
  width: 20px;
  height: 20px;
}

.check {
  width: 35px;
  height: 35px;
  background: rgb(96, 218, 96);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.check > svg {
  width: 20px;
  height: 20px;
}
