<ion-content [fullscreen]="true">
  <main>
    <div class="effect"></div>
    <section>
      <div class="titleWrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-calendar-check-icon lucide-calendar-check">
          <path d="M8 2v4" />
          <path d="M16 2v4" />
          <rect width="18" height="18" x="3" y="4" rx="2" />
          <path d="M3 10h18" />
          <path d="m9 16 2 2 4-4" />
        </svg>
        <p class="title">Jadwalin</p>
      </div>
      <p>Daftar, dan lengkapi data diri kamu!</p>
      <p *ngIf="isEmailUsed" class="errorMessage">Email telah digunakan. Harap ganti</p>
      <form (ngSubmit)="register()" action="">
        <ul role="list">
          <li>
            <label for="">Username</label>
            <input [(ngModel)]="username" name="username" type="text" placeholder="Masukkan username" autocomplete="off">
          </li>
          <li>
            <label for="">Email</label>
            <input [(ngModel)]="email" name="email" type="text" placeholder="Masukkan email" autocomplete="off">
          </li>
          <li>
            <label for="">Password</label>
            <input [(ngModel)]="password" name="password" type="text" placeholder="Masukkan password" autocomplete="off">
          </li>
          <li>
            <button type="submit" [disabled]="!username || !email || !password"
              [ngStyle]="{'background-color': (!username || !email || !password) ? 'gray' : 'rgb(45, 101, 255)', 'cursor-pointer': (!username || !email || !password) ? 'not-allowed' : 'pointer', 'color': (!username || !email || !password) ? 'white' : 'white'}">Daftar</button>
          </li>
          <li>
            <p>Sudah punya akun? <a href="/masuk">Masuk</a></p>
          </li>
        </ul>
      </form>
    </section>
  </main>
</ion-content>